@model RegisterViewModel
@{
  ViewData["Title"] = "Register";
}

  <div class="alert alert-secondary">
    Register new account
  </div>
@if (Model != null && !String.IsNullOrEmpty(Model.Message))
{
  <div class="alert alert-danger">
    @Model.Message
  </div>
}
<form asp-action="Register"
      method="post">
  <div class="form-group">
    <label asp-for="UserName"></label>
    <input asp-for="UserName"
           placeholder="Enter User Name"
           class="form-control">
    <span class="text-danger" asp-validation-for="UserName"></span>
  </div>
  <div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email"
           placeholder="Enter Email Address"
           class="form-control">
    <span class="text-danger" asp-validation-for="Email"></span>
  </div>
  <div class="form-group">
    <label asp-for="Password"></label>
    <input asp-for="Password"
           placeholder="Enter Password"
           class="form-control">
    <span class="text-danger" asp-validation-for="Password"></span>
  </div>
  <div class="form-group">
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" 
           placeholder="Enter Password Again To Confirm"
           class="form-control">
    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
  </div>

  <button type="submit" class="btn btn-primary px-5">Submit</button>
</form>
